# Python with Delta Sharing

Read a dataset from within python

In [14]:
!pip install delta-sharing==0.2.0

Requirement already satisfied: delta-sharing==0.2.0 in /opt/conda/lib/python3.8/site-packages (0.2.0)
Requirement already satisfied: fsspec>=0.7.4 in /opt/conda/lib/python3.8/site-packages (from delta-sharing==0.2.0) (2021.10.1)
Requirement already satisfied: aiohttp in /opt/conda/lib/python3.8/site-packages (from delta-sharing==0.2.0) (3.7.4.post0)
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.8/site-packages (from delta-sharing==0.2.0) (5.0.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.8/site-packages (from delta-sharing==0.2.0) (2.24.0)
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from delta-sharing==0.2.0) (1.3.4)
Requirement already satisfied: typing-extensions>=3.6.5 in /opt/conda/lib/python3.8/site-packages (from aiohttp->delta-sharing==0.2.0) (3.10.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp->delta-sharing==0.2.0) (1.7.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.8/site-packages (from aiohttp->delta-sharing==0.2.0) (5.2.0)
Requirement already satisfied: chardet<5.0,>=2.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp->delta-sharing==0.2.0) (3.0.4)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp->delta-sharing==0.2.0) (3.0.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp->delta-sharing==0.2.0) (20.2.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/conda/lib/python3.8/site-packages (from pyarrow->delta-sharing==0.2.0) (1.21.3)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests->delta-sharing==0.2.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests->delta-sharing==0.2.0) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests->delta-sharing==0.2.0) (1.25.10)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->delta-sharing==0.2.0) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas->delta-sharing==0.2.0) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->delta-sharing==0.2.0) (1.15.0)

In [15]:
import delta_sharing

In [16]:
profile_file = "file:///home/jovyan/work/notebooks/conf/delta.profile"

In [17]:
client = delta_sharing.SharingClient(profile_file)
client.list_all_tables()

[Table(name='cities', share='demo', schema='shareddata')]

In [18]:
table_url = profile_file + f"#demo.shareddata.cities"

sharingDF = delta_sharing.load_as_pandas(table_url)
sharingDF.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.6000,120.9833,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140